#modal1 {
    padding: 0%;
    height: 55%;
    width: 40%
}
#modal2 {
    padding: 0%;
    height: 35%;
    width: 40%
}
/*.btn-ver btn-floating halfway-fab waves-effect waves-light{
	right: 60px;
}
.btn-ver{
	right: 10px;
}*/